*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  background-color: transparent;
}
body {
  background-image: url("../img/22464156.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  margin: 15px;
}
